# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/
.env/


# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore VS Code config
.vscode/

# Ignore system files
.DS_Store
